# Git
.git
.gitignore

# npm
node_modules

# Docker
.dockerignore

# Dotenv
.env

# Volumes
web/content/uploads
web/content/cache
web/content/settings

# Drop-in plugins
web/content/db.php
web/content/advanced-cache.php
web/content/object-cache.php

# Logs
web/content/debug.log

# Other
Makefile
README.md
wp-cli.local.yml
scratch
.htaccess
