# 
# When launching, modify this configuration with the real hostname. 
# Next, run the commands `make build` and `make deploy` so that 
# Traefik knows to listen for this new hostname.  Finally, run the 
# command `make public` and choose the load balancer.
#

# Change this!
__PLACEHOLDER_HOST__ {

  reverse_proxy <%= $(bin/get upstreams); %> {

    lb_policy uri_hash

    # User: <%= $(bin/get upstream_user) %>
    # Password: <%= $(bin/get upstream_password) %>
    header_up Authorization "Basic <% echo -n $(bin/get upstream_user):$(bin/get upstream_password) | base64 -w0 %>"
    header_up X-Client-IP {remote_host}
    header_down X-Powered-by "nonfiction studios"
  }

}

# Example how to enforce www
# example.com {
#   redir https://www.example.com{uri}
# }
#
# Example how to enforce non-www
# www.example.com {
#   redir https://example.com{uri}
# }
#
# See more here: 
# https://caddyserver.com/docs/caddyfile
