# 
# When ready to launch, modify this configuration with the 
# real domain names. Then, run the command `make public` and 
# choose a load balancer.
#

wordpress.lb1.nonfiction.ca {

  reverse_proxy <%= $(bin/get upstreams); %> {
    lb_policy uri_hash
  }

}

# Example how to enforce www
# example.com {
#   redir https://www.example.com{uri}
# }
#
# Example how to enforce non-www
# www.example.com {
#   redir https://example.com{uri}
# }
#
# See more here: 
# https://caddyserver.com/docs/caddyfile
